html,body {
  /*background-color: #CFD8DC;*/
  margin: 0;
  height:100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid transparent; /* #99BDCB */
    -moz-border-image: -moz-linear-gradient(left, #99BDCB 25%, rgba(0,0,0,0) 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #99BDCB 25%, rgba(0,0,0,0) 100%);
    border-image: linear-gradient(to right, #99BDCB 25%, rgba(0,0,0,0) 100%);
    border-image-slice: 1;
    margin-top: -4px;

}

::-webkit-scrollbar { 
    display: none; 
}

.flex-container {
    display: flex;
    align-items: center;
    
    flex-direction: column;
    height: 100%;
    width:100%;
    margin: auto;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 22px;
  color: #ecf0f2;
  /*background-color: #455A64;*/
  background: #525658; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#525658, #34648C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#525658, #34648C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#525658, #34648C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#525658,#525658,#525658, #34648C); /* Standard syntax */
  
}

#header {
  display: flex;
  margin: 0;
  flex:0 0 auto;
  max-width: 700px;
  width: 90%;
  height: 55px;
  align-items: flex-end;
  justify-content: center;
  font-size: 50px;
  font-family: sansationregular;
  background: -webkit-linear-gradient(#eee, #99BDCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#99BDCB; /*#F5F5F5*/
}

#nav-wrapper {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 5px;
  max-width: 600px;
  width: 90%;
}

#nav {
  display: flex;
  /*height: 36px;*/
  flex-direction: row;  
  align-items: flex-end;
  justify-content: space-around;
  font-size: 30px;
  color:#99BDCB;
  border-top: 1px solid  #99BDCB;
  border-bottom: 1px solid  #99BDCB;
}

.navBlock {
  display: flex;
  flex: 1;
  align-self: stretch;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.navBlock:hover {
  background-color: rgba(153,189,203,0.8);
  color:#525658;
  cursor: pointer;
}
.navBlock.active {
  background-color:#99BDCB;
  color:#525658;
}

#loc.hide {
    display:none!important;
}

#loc {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color:#99BDCB;
  /*color:rgba(236,240,242,0.8);*/
}

.locBlock {
  display: flex;
  flex: 1;
  height: 25px;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}
.locBlock:hover {
  align-self: flex-end;
  border-bottom: 1px solid  #99BDCB;
  border-radius: 0 0 4px 4px;
}
.locBlock.active {
  align-self: flex-end;
  color:rgba(236,240,242,1);
  border-bottom: 1px solid  #cbc099;
  border-radius: 0 0 4px 4px;
}

.fit-wrapper {
  display: flex;
  overflow:scroll;
  width:inherit;
  align-items: center;
  flex-direction: inherit;
}

.fit-wrapper.hide {
    display:none!important;
}

.flex-row {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 10px;
    max-width: 600px;
    width: 90%;
    height: 80px;
    /*background-color: #CFD8DC;*/
    background: linear-gradient(rgba(207,216,220,0.3),rgba(207,216,220,0.4),rgba(207,216,220,0.5)); /* Standard syntax */
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-row:hover {
  margin-top: 9px;
  margin-bottom: 11px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
}

.flex-top {
    display: flex;
    flex: 5;
    flex-direction: row;
    padding:10px; 

}

.flex-title {
    /*border: 1px solid;*/
    flex:3;
     
    font-size: 28px;
}

.flex-status {
    display: flex;
    font-size: 18px;
    flex:2;
    /*font-style: italic;*/
    justify-content:flex-end;
    /*border: 1px solid;*/
}

.flex-bot {
    display: flex;
    width:100%;
    justify-content: flex-end;
    align-self: baseline;
    background-color: rgba(100,100,100,0.1);
    border-radius: 0 0 0 2px;
    overflow: hidden;
}

.flex-bar {
  display: flex;
  width: 100%;
  height: 15px;
}

/*.bar {
  margin: 20px;
  width: 400px;
  
}*/

.din-wrapper {
  display: flex;
  overflow:scroll;
  width:inherit;
  align-items: center;
  flex-direction: inherit;
}

.din-wrapper.hide {
    display:none!important;
}

.din-row {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 10px;
    max-width: 600px;
    width: 90%;
    height: 80px;
    /*background-color: #CFD8DC;*/
    background: linear-gradient(rgba(207,216,220,0.3),rgba(207,216,220,0.4),rgba(207,216,220,0.5)); /* Standard syntax */
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.din-row:hover {
  margin-top: 9px;
  margin-bottom: 11px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
}

.din-top {
    display: flex;
    flex: 5;
    padding:10px; 
    flex-direction: column;
}

.din-title {
    flex:1;
    font-size: 16px;
}

.din-status {
    display: flex;
    font-size: 14px;
    flex:1;
    /*font-style: italic;*/
    justify-content:flex-end;
    /*border: 1px solid;*/
}

.din-bot {
    display: flex;
    flex:2;
    width:100%;
    justify-content: flex-end;
    align-self: baseline;
    background-color: rgba(100,100,100,0.1);
    border-radius: 0 0 0 2px;
    overflow: hidden;
}

.flex-bar {
  display: flex;
  width: 100%;
  height: 15px;
}