.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 20px;
  transform: translate(-50%, -50%);
}
.loading .dot {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #e11a1d;
  animation: spin .5s 0s infinite alternate both;
}
.loading .dot:nth-child(0) {
  animation: spin 0.5s 0ms infinite alternate both;
  left: 0px;
}
.loading .dot:nth-child(1) {
  animation: spin 0.5s 80ms infinite alternate both;
  left: 24px;
}
.loading .dot:nth-child(2) {
  animation: spin 0.5s 160ms infinite alternate both;
  left: 48px;
}
.loading .dot:nth-child(3) {
  animation: spin 0.5s 240ms infinite alternate both;
  left: 72px;
}
.loading .dot:nth-child(4) {
  animation: spin 0.5s 320ms infinite alternate both;
  left: 96px;
}
.loading .dot:nth-child(5) {
  animation: spin 0.5s 400ms infinite alternate both;
  left: 120px;
}

@keyframes spin {
  from {
    transform: translateY(0);
    box-shadow: 0 0 0 #e11a1d;
  }
  to {
    transform: translateY(-20px);
    box-shadow: 0 40px 0px #ea5e60;
  }
}
