* {
  font-family: Helvetica;
  font-weight: 100;
  webkit-font-smoothing: antialiased;
}
div {
  border-radius: 2px;
  text-align: center;
  width: 100%;
}
html, body {
  padding: 0;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  width: 100%;
}
div#navbar-header {
  display: inline-block;
  font-size: 20px;
  margin: 0px;
}
div#navbar-header img {
  vertical-align: middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
ul li a.nav {
  color: #222322;
  color: black;
  padding-left: 7px;
  text-decoration: none;
}
ul li a.nav:hover {
  text-decoration: underline;
}
#menus {
  /*box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
  margin: auto;
  margin-top: 10px;
  max-width: 100vh;
  /*moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
  text-align: center;
  /*webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
}
.all-location {
  background-color: white;
  border-collapse: collapse;
  max-width: 100vh;
}
.location {
  display: none;
  max-width: 100vh;
}
.campus {
  border: 1px solid #BD0000;
  border-collapse: collapse;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  margin: auto;
  max-width: 100vh;
  moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.campus:not(:first-child) {
  margin-top: 10px;
}
.menu {
  background-color: white;
  color: black;
  font-size: 15px;
  margin: auto;
  max-width: 100vh;
  text-align: center;
}
.menu-wrapper {
  display: none;
}
.eatery-wrapper {
  background-color: white;
  color: black;
  max-width: 100vh;
}
.name {
  background-color: white;
  border: 1px solid #BD0000;
  border-collapse: collapse;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  color: black;
  font-size: 20px;
  max-width: 100vh;
  moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  padding-bottom: 10px;
  padding-top: 10px;
  webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  cursor: pointer;
}
.name:hover {
  background-color: #E6E6E6;
}
.menu-period {
  border: 1px solid #BD0000;
  border-collapse: collapse;
  font-size: 18px;
}
.location-header {
  background-color: #ffcccc;
  color: black;
  font-size: 25px;
  max-width: 100vh;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center; 
  cursor: pointer;
}
.location-header:hover {
  background-color: #E6E6E6;
}
#welcome-div {
  background-color: white;
  border: 1px solid #BD0000;
  border-collapse: collapse;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  color: black;
  font-size: 20px;
  height: auto;
  line-height: 30px;
  margin: auto;
  margin-top: 5px;
  max-width: 100vh;
  moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  text-align: center;
  webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
img {
  height: 45px;
  width: 45px;
}
.closed {
  background-color: #ffe6e6;
}
.open {
  background-color: #99ff99;
}
.loader {
  position: relative;
  top: 100px;
}

